body {
    position: fixed;
    background-color: rgba(0, 0, 0, 1)
}

header {
    min-width: 100vw;
    position: sticky;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0)
}
header > #logo {
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    color: rgb(0, 0, 0)
}